extends layout

block content
  h1 Search Results - Vehicles

  //- Unbuffered code block to define the array of results
  -
    const results = [
      { vehicle_name: 'Sedan', vehicle_type: 'Car', max_speed: 180 },
      { vehicle_name: 'Sport Bike', vehicle_type: 'Motorcycle', max_speed: 220 },
      { vehicle_name: 'SUV', vehicle_type: 'Car', max_speed: 160 }
    ];

  div.container-fluid
    div.row
      - for (const vehicle of results)
        div.col-sm-2
          p Vehicle Name: #{vehicle.vehicle_name}
          p Vehicle Type: #{vehicle.vehicle_type}
          p Max Speed: #{vehicle.max_speed} km/h
